/* 
    Document   : screen.css
    Created on : Dec 31, 2011, 4:04:31 PM
    Author     : Adam
    Description:
        Blog Stylesheet
*/

body { 
    background: #F0F0F0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

strong {
    font-weight: 500;
}

header {
    height: 180px;
    width: 100%;
    background: #ccc url(../images/bg.jpg) repeat-x top left;
}

#content {
    width: 740px;
    padding: 50px 60px 30px;
    margin: 0 auto;
    margin-top: -40px;
    background: white;
    border-radius: 3px;
    border-color: #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
}

.icon-calendar {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding-right: 5px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons-halflings.png");
    background-position: -192px -120px;
    background-repeat: no-repeat;
}

.icon-comment {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding-right: 5px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons-halflings.png");
    background-position: -240px -120px;
    background-repeat: no-repeat;
}
.icon-email {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-right: 5px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/email.png");
    background-repeat: no-repeat;
}
.icon-twitter {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-right: 5px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/twitter.png");
    background-repeat: no-repeat;
}
.icon-github {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-right: 5px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/github.png");
    background-repeat: no-repeat;
}
.icon-linkedin {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-right: 5px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/linkedin.png");
    background-repeat: no-repeat;
}

#content .comments a {
    text-decoration: none;
    color: #000;
}

#content span {
    font-size: 12px;
    opacity: .5;
    margin-right: 10px;
}

#content h1 {
    font-size: 36px;
    font-weight: 300;
    color: #FE4365;
    margin-bottom: 40px;
    margin-top: 20px;
}

#content p {
    margin-bottom: 20px;
    line-height: 24px;
}

#content a {
    color: #83AF9B;
    text-decoration: none;
}
#content a:hover {
    text-decoration: underline;
}

#posts li {
    list-style: none;
    border-bottom: 1px solid #F0F0F0;
    height: 25px;
    margin-bottom: 10px;
}

#posts li a {
    text-decoration: none;
    font-weight: 300;
}

#posts li h2 {
    float: left;
    width: 450px;
    color: #FE4365;
    max-width: 75%;
    font-weight: 300;
}
#posts li span.date {
    float: right;
    width: 150px;
    max-width: 25%;
    text-align: right;
    color: #000;
}

header a {
    text-decoration: none;
}

.wrapper {
    width: 740px;
    margin: 0 auto;
}

.name {
    float: left;
}
.name a {
    color: #fff;
}
.social {
    float: right;
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
}
.social ul li {
    width: 130px;
    font-size: 14px;
    list-style: none;
    border-bottom: 1px solid #CCC;
    color: #FFF;
    opacity: 0.8;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.social ul li a {
    color: #FFF;
}
.social ul li a:hover {
    text-decoration: underline;
}
header h1 {
    opacity: 0.9;
    font-size: 32px;
    font-weight: 300;
    padding-top: 40px;
}
header h2 {
    opacity: 0.5;
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
}

header .social {
    float:right;
}

footer {
    width: 850px;
    margin: 0 auto;
    margin-bottom: 20px;
}
footer p {
    font-size: 10px;
    text-align: right;
    line-height: 16px;
}

#content ul, #content ol {
    margin-left: 20px;
}

#content ul li, #content ol li {
    padding-bottom: 12px;
}

pre {
    background-color: #FAFAFA;
    border: 1px solid #D5D5D5;
    border-left: 10px solid #D5D5D5;
    font-family: Consolas, Menlo, "Courier New", monospace;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
    margin-left: -25px;
    overflow-x: auto;
    padding: 11px 15px 12px;
}
.line-pre {
    overflow: hidden;
}
