<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/screen.css" />
        <link rel="stylesheet" type="text/css" href="/css/monokai.css" />

        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-9618631-17']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
    </head>

    <body>

        <div id="container">

            <div class="header">
                <a href="/" class="logo">Adam Strawson</a>

                <ul class="nav">
                    <li><a href="/">Discussion</a></li>
                    <li><a href="/talk">Talk</a></li>
                    <li><a href="http://twitter.com/adamstrawson" target="_blank">Twitter</a> | <a href="http://github.com/adamstrawson" target="_blank">GitHub</a> | <a href="http://adamstrawson.github.com/resume/" target="_blank">Resume</a></li>
                </ul>

                <p>
                    Developer, Thinker, Occasional Do-er.
                </p>
            </div>

            <div class="main">
                {{ content }}
            </div>
        </div>
    </body>
</html>
