<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>

        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/screen.min.css">
        <link rel="stylesheet" href="/css/monokai.css" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <meta name="viewport" content="width=device-width">

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-9618631-17']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        
    </head>
    <body>
    
        <header>
            <div class="wrapper">
                <div class="name">
                    <a href="/">
                        <h1>Adam Strawson</h1>
                        <h2>Dynamic Developer <br />
                            @ The Student Room Group.
                        </h2>
                    </a>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="/contact" title="Contact Adam Strawson"><i class="icon-email"></i>Contact Me</a></li>
                        <li><a href="https://twitter.com/adamstrawson" title="Twitter: Adam Strawson" target="_blank"><i class="icon-twitter"></i>@adamstrawson</a></li>
                        <li><a href="https://github.com/adamstrawson" title="GitHub: Adam Strawson" target="_blank"><i class="icon-github"></i>/adamstrawson</a></li>
                        <li><a href="https://linkedin.com/in/adamstrawson" title="Linkedin: Adam Strawson" target="_blank"><i class="icon-linkedin"></i>/adamstrawson</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div id="content">
            {{ content }}
        </div>

        <footer>
            <p>Views expressed are my own, no one else would say such nonsense.<br />
            &copy; Adam Strawson.</p>
        </footer>
        <script type="text/javascript">
        var disqus_shortname = 'adamstrawson';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>
    </body>
</html>
